:host {
  display: flex;
  margin: 3px;
  flex: 20 1 500px;
  background: #a1a1a1;
  height: calc(100vh - 224px);
}

@media only screen and (max-width: 923px) {
  :host {
    height: calc(100vh - 330px);
  }
}

@media only screen and (max-width: 717px) {
    :host {
        height: calc(100vh - 436px);
    }
  }
  